<h1>Welcome to the Express-MySQL API</h1>
<p>This is a simple app using Express.js and MySQL with EJS as the view engine.</p>
    <a href="/articles" class="btn btn-primary mb-1">Article</a>
    <a href="/users" class="btn btn-success mb-1">Users</a>
